@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
:root {
    --primary: hsl(0, 100%, 74%);
    --primary-dark: hsl(0, 100%, 44%);
    --secondary: hsl(154, 59%, 51%);
    --accent: hsl(248, 32%, 49%);
    --dark-gray: hsl(249, 10%, 26%);
    --light-gray: hsl(246, 25%, 77%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("images/bg-intro-desktop.png"), var(--primary);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

::placeholder {
    color: black;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 700;
}

.wrapper {
    display: flex;
    margin: 5%;
    width: 85%;
    height: 85%;
    padding: 2.5%
}

.header {
    margin: 7.5%;
    width: 35%;
    color: white;
}

.weighted {
    font-weight: 800px;
    margin-bottom: 30px;
}

.right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.heading {
    text-align: center;
    background: var(--accent);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.span {
    font-weight: 100;
}

.form-control {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 98%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0px 5px 50px var(--light-gray);
}

.form-control input {
    margin-top: 30px;
    width: 98%;
    padding: 10px;
    outline: none;
    height: 10%;
    border-radius: 5px;
    border: none;
    border: 2px solid var(--primary);
}

.form-control .button {
    color: white;
    margin-top: 20px;
    background: var(--secondary);
    border: none;
    width: 98%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.terms {
    color: var(--light-gray);
    font-size: 10px;
    text-align: center;
}

.terms a {
    text-decoration: none;
    color: var(--primary);
}

footer {
    bottom: 0;
}

.wrong {
    background: url("images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: right center;
}

.wpara {
    color: var(--primary);
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    font-size: 12px;
    font-style: oblique;
}

@media (max-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        margin: 5%;
        padding: 2.5%;
        width: 85%;
    }
    .header {
        width: 100%;
        text-align: center;
    }
    .right {
        width: 100%;
    }
    .heading {
        width: 100%;
    }
}